body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    background: rgb(48, 6, 6);
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#buttons{ 
   display: flex;
}
button{
    height: 50px;
    width: 100px;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px 5px rgb(78, 64, 64);
    border: none;
    color: white;
    font-weight: bold;
    background-color: rgb(109, 100, 100);
    cursor: pointer;
}

#watch{
    color: white;
    font-size: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px black;
}

button:active{
    box-shadow: none;
    transition:all 0.3s;
}